---
Astro.response.status = 404;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
  </head>
  <body id="body">
    <div class="overflow-visible">
      <main id="main-content" class="max-w-2xl mx-auto">
        <section class="chapter">
          <div class="container">
            <div class="rich-text">
              <h1 class="mt-8">404</h1>
              <p>
                Vi är ledsna att säga det, men hur mycket vi än sökte kunde vi
                inte hitta sidan du vill besöka. Mest troligt har sidan tagits
                bort, men det kan också vara att sidan saknas av andra skäl.
                Även webbsidor kan ibland gå sönder även om de vanligtvis håller
                ganska länge. Vi ber om ursäkt för detta.
              </p>
              <p>
                Känner du dig vilse och vill komma tillbaka till vår <a href="/"
                  >startsida</a
                >?
              </p>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
