<footer
  class="bg-zinc-800 text-white antialiase w-full flex items-center py-16 md:py-20 lg:py-28"
>
  <div class="container">
    <div class="w-full grid gap-10 grid-cols-12 auto-cols-max">
      <div class="col-span-12 lg:col-span-3">
        <a href="/" class="font-bold text-2xl">Strife Demo</a>
      </div>
      <div class="col-span-12 lg:col-span-3">
        <h3 class="font-bold text-xl mb-3">About</h3>
        <ul class="space-y-2">
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 lg:col-span-3">
        <h3 class="font-bold text-xl mb-3">Services</h3>
        <ul class="space-y-2">
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 lg:col-span-3">
        <h3 class="font-bold text-xl mb-3">Company</h3>
        <ul class="space-y-2">
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
          <li>
            <a href="" class="underline underline-offset-4 hover:no-underline">
              Link
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
